################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/__pycache__
/.pytest_cache

/jim_messenger.sln
/jim_client.pyproj
/jim_server.pyproj
/test.pyproj
